mat-divider {
  margin: 1rem 0;
}

mat-card {
  max-width: 35rem;
}

mat-card-header {
  padding: 1rem 1rem 0;
}

mat-card-footer {
  padding: 0 1rem 1rem;
}

/*
.card__variant {
  &--1 {
    background: #f3f3f3;
  }
  &--2 {
    background: #e9e9eb;
  }
  &--3 {
    background: #616D7E;
  }
  &--4 {
    background: #B6B6B4;
  }
  &--5 {
    background: #D1D0CE;
  }
  &--6 {
    background: #DCDCDC;
  }
  &--7 {
    background:  #C0C0C0;
  }
  &--8 {
    background: #DBD7D2;
  }
  &--9 {
    background: #E5E4E2;
  }
}
*/
