<mat-card appearance="outlined"
  [class]="'card__variant--' + record.partition.toString()[0]"
  [class.card--tombstone]="!record.value">

  <mat-card-header class="justify-content-between">
    <mat-card-title>Message #{{ numberOfMessage }} of {{ numberOfTotalMessages }}</mat-card-title>
    @if (!record.value) {
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
        <path
          d="M240-80v-170q-39-17-68.5-45.5t-50-64.5q-20.5-36-31-77T80-520q0-158 112-259t288-101q176 0 288 101t112 259q0 42-10.5 83t-31 77q-20.5 36-50 64.5T720-250v170H240Zm80-80h40v-80h80v80h80v-80h80v80h40v-142q38-9 67.5-30t50-50q20.5-29 31.5-64t11-74q0-125-88.5-202.5T480-800q-143 0-231.5 77.5T160-520q0 39 11 74t31.5 64q20.5 29 50.5 50t67 30v142Zm100-200h120l-60-120-60 120Zm-80-80q33 0 56.5-23.5T420-520q0-33-23.5-56.5T340-600q-33 0-56.5 23.5T260-520q0 33 23.5 56.5T340-440Zm280 0q33 0 56.5-23.5T700-520q0-33-23.5-56.5T620-600q-33 0-56.5 23.5T540-520q0 33 23.5 56.5T620-440ZM480-160Z"/>
      </svg>
    }
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    @if (record.headers) {
      <p>Header:</p>
      <app-code-snippet
        [code]="record.headers.toString()"
        [showLineNumbers]="false"
        [wrapCode]="true"
        (showTruncatedToggled)="onShowTruncatedToggled($event)"
        class="highlight-content"
      >
      </app-code-snippet>

      <mat-divider></mat-divider>
    }

    @if (record.key) {
      <p>Key:</p>
      <app-code-snippet
        [code]="record.key"
        [showLineNumbers]="false"
        [wrapCode]="true"
        (showTruncatedToggled)="onShowTruncatedToggled($event)"
        class="highlight-content">
      </app-code-snippet>

      <mat-divider></mat-divider>
    }

    <p>Value:</p>
    <app-code-snippet
      [code]="record.value ?? '<null>'"
      [showLineNumbers]="false"
      [wrapCode]="true"
      (showTruncatedToggled)="onShowTruncatedToggled($event)"
      class="highlight-content">
    </app-code-snippet>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-footer>
    <mat-chip-set aria-label="Record technical information" class="highlight-content">
      <mat-chip>{{ record.timestamp | date: 'medium' }}</mat-chip>
      <mat-chip>Partition: {{ record.partition }}</mat-chip>
      <mat-chip>Offset: {{ record.offset }}</mat-chip>
    </mat-chip-set>
  </mat-card-footer>
</mat-card>
