<section>

  <h1>Configurations</h1>

  <mat-drawer-container autosize>
    <mat-drawer #drawer opened mode="side">
      <div>
        <h3>Saved configurations:</h3>
        <mat-action-list>
          @for (configuration of consumerConfigurations; track configuration) {
            <button mat-list-item (click)="selectConfiguration(configuration)">{{ configuration.name }}</button>
          }
        </mat-action-list>
      </div>
    </mat-drawer>

    <mat-drawer-content style="padding: 12px">
      <div class="mt-3 mb-4">
        <mat-slide-toggle
          checked
          (click)="drawer.toggle(); consumerConfigurationsAreVisible = !consumerConfigurationsAreVisible">
          <span class="mx-1">Show saved configurations</span>
        </mat-slide-toggle>

        <button type="button" mat-button (click)="newConfiguration()" class="ms-2">
          {{ form.dirty ? 'Discard changes' : 'New configuration' }}
        </button>

        @if (form.controls.name.value) {
          @if (!form.controls.id.value) {
            <button type="button" mat-button (click)="saveConfiguration()" class="ms-2">
              Save configuration
            </button>
          } @else if (form.dirty) {
            <button type="button" mat-button (click)="saveConfiguration()" class="ms-2">
              Update configuration
            </button>
          }
        }

        @if (form.controls.id.value) {
          <button type="button" mat-button (click)="deleteConfiguration()" class="ms-2">
            Delete configuration
          </button>
        }
      </div>

      <form autocomplete="off" (ngSubmit)="consume()" class="form">
        <div class="row mb-3">
          <mat-form-field appearance="outline" class="form__field col-12 col-md-6">
            <mat-label>Configuration name</mat-label>
            <input matInput [formControl]="form.controls.name">
            <mat-hint>Name of the configuration in case you want to save it</mat-hint>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="form__field col-12 col-md-6">
            <mat-label>Topic name</mat-label>
            <input matInput [formControl]="form.controls.topicName" [required]="true">
            <mat-hint>Name of the Topic to be consumed</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form__field col-12 col-md-6 order-md-2">
            <mat-label>API key</mat-label>
            <input matInput [formControl]="form.controls.apiKey" [required]="true">
            <mat-hint>
              Username that will be used in JAAS login context parameters for SASL connections.
              <a mat-icon-button aria-label="Open documentation"
                 href="https://kafka.apache.org/documentation/#consumerconfigs_sasl.jaas.config" target="_blank">
                <mat-icon>open_in_new</mat-icon>
              </a>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form__field col-12 col-md-6 order-md-3">
            <mat-label>API secret</mat-label>
            <input matInput [formControl]="form.controls.apiSecret" [required]="true" type="password">
            <mat-hint>
              Password that will be used in JAAS login context parameters for SASL connections.
              <a mat-icon-button aria-label="Open documentation"
                 href="https://kafka.apache.org/documentation/#consumerconfigs_sasl.jaas.config" target="_blank">
                <mat-icon>open_in_new</mat-icon>
              </a>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form__field col-12 col-md-6 order-md-1">
            <mat-label>bootstrap.servers</mat-label>
            <input matInput [formControl]="form.controls.bootstrapServers" [required]="true">
            <mat-hint>
              A list of host/port pairs used to establish the initial connection to the Kafka cluster.
              <a mat-icon-button aria-label="Open documentation"
                 href="https://kafka.apache.org/documentation/#consumerconfigs_bootstrap.servers" target="_blank">
                <mat-icon>open_in_new</mat-icon>
              </a>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form__field col-12 col-md-6 order-md-4">
            <mat-label>group.id</mat-label>
            <input matInput [formControl]="form.controls.groupId" [required]="true">
            <mat-hint>
              A unique string that identifies the consumer group this consumer belongs to.
              <a mat-icon-button aria-label="Open documentation"
                 href="https://kafka.apache.org/documentation/#consumerconfigs_group.id" target="_blank">
                <mat-icon>open_in_new</mat-icon>
              </a>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-end mb-4">
          <button mat-flat-button type="submit" [disabled]="form.invalid || isRequestInProgress">
            @if (isRequestInProgress) {
              <mat-spinner></mat-spinner>
            } @else {
              Consume
            }
          </button>
        </div>

        <div>
          @for (error of responseErrors; track $index) {
            <mat-error>{{ error }}</mat-error>
          }
        </div>
      </form>
    </mat-drawer-content>
  </mat-drawer-container>
</section>


@if (filteredRecords?.length > 0 || searchQuery) {

  <mat-divider></mat-divider>

  <div #searchBar [class.sticky-bar]="isSearchBarSticky">
    <h1>Records</h1>

    <form class="form">
      <mat-form-field appearance="outline" class="form__field form__field__input">
        <mat-label>Search query</mat-label>
        <input
          matInput
          type="search"
          name="query"
          [(ngModel)]="searchQuery"
          (ngModelChange)="filterRecords()"
        />
      </mat-form-field>
    </form>
  </div>
  <div
    [style.display]="isSearchBarSticky ? 'block' : 'none'"
    [style.height]="'270px'"
  ></div>

  <section>
    <div class="records">
      @for (record of filteredRecords | slice: paginatorFirstValue : paginatorLastValue;
        track '' + record.partition + record.offset) {
        <app-kafka-record
          [record]="record"
          [numberOfMessage]="paginatorFirstValue + $index + 1"
          [numberOfTotalMessages]="filteredRecords.length"
          (showTruncatedToggled)="highlightSearch()"
        ></app-kafka-record>
      }
    </div>
    <mat-paginator
      pageSize="20"
      showFirstLastButtons="true"
      [length]="filteredRecords.length"
      [pageSizeOptions]="[10, 20, 30]"
      (page)="getPaginatorData($event)"
    >
    </mat-paginator>
  </section>
}
