.form {
  min-width: 10rem;

  &__field {
    margin-bottom: 2rem;

    &__input {
      width: 100%;
      max-width: 40rem;
    }
  }
}

.records {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 1rem;
}

.sticky-bar {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
  padding-left: 2rem;
  background: white;
  border-bottom: 1px solid black;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.75);
}

mat-drawer {
  border-radius: 0;
  border-right: 1px solid;
}

mat-drawer-content {
  padding-left: 2rem !important;
}

mat-hint {
  --mdc-icon-button-icon-size: 1rem;

  display: flex;
  align-items: center;
  min-height: 2.5rem;

  a {
    margin-left: 0.25rem;
  }
}

mat-paginator {
  margin: 2rem 0;
}

mat-spinner {
  height: 1.5rem !important;
  width: 3rem !important;
}
